*
{
	font-family: 'Comic Sans', Courier, monospace;
}
.about
{
	background-color: #540406;
}
.about img
{
	float: right;
	height: "320rem";
	margin-left: 30px;
	position: relative;
	width: "320rem";
}
.about, .career
{
	padding-bottom: 3%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
}
.bg
{
	background: no-repeat center url(cover.png);
	background-attachment: fixed;
	background-size: cover;
	height: 1000px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.btn
{
	background: #b35151;
	background-image: linear-gradient(to bottom, #b35151, #592222);
	background-image: -moz-linear-gradient(top, #b35151, #592222);
	background-image: -ms-linear-gradient(top, #b35151, #592222);
	background-image: -o-linear-gradient(top, #b35151, #592222);
	background-image: -webkit-linear-gradient(top, #b35151, #592222);
	border-radius: 28px;
	color: #ffffff;
	font-family: Courier New;
	font-size: 20px;
	moz-border-radius: 28;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 3px #666666;
	webkit-border-radius: 28;
}
.btn:hover
{
	background: #ebd063;
	background-image: linear-gradient(to bottom, #ebd063, #c7ad04);
	background-image: -moz-linear-gradient(top, #ebd063, #c7ad04);
	background-image: -ms-linear-gradient(top, #ebd063, #c7ad04);
	background-image: -o-linear-gradient(top, #ebd063, #c7ad04);
	background-image: -webkit-linear-gradient(top, #ebd063, #c7ad04);
	text-decoration: none;
}
.career, .com_links, .club_links
{
	background-color: #540406;
}
.club_links
{
	background-color: #540406;
	text-align: center;
}
.com_links
{
	background-color: #b35151;
}
.com_links, .club_links
{
	padding-bottom: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
}
.heading
{
	color: white;
	padding: 400px;
	text-align: center;
}
.overlay
{
	background: rgba(0,0,0,0.2);
	height: 100%;
	left: 0;
	margin: 0;
	top: 0;
	width: 100%;
}
.specials
{
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
.videos, .com_links
{
	background-color: #b35151;
}
a
{
	color: navajowhite;
}
a:hover
{
	color: peru;
}
body
{
	margin: 0;
}
h1
{
	font-size: 690.420%;
}
h1,h2,h3
{
	font-family: 'Bitter', serif;;
}
h1,h2,h3,p
{
	color: whitesmoke;
}
h2
{
	font-size: 420.69%;
}
h2
{
	margin: 0;
}
h3
{
	font-size: 362.436%;
}
hr
{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 10px dashed white;
	width: 10%;
}
img.about
{
	float: right;
	width: 20%;
}

p{
    font-family: 'Trispace', sans-serif;;
    font-size: 169.42%;
}