*
{
	font-family: 'Comic Sans', Courier, monospace;
}
.content img
<<<<<<< HEAD
{
	float: right;
	width: 25%;
	position: relative;
	padding: 0;
}
.specials
{
	float: right;
	width: 30%;
	position: relative;
	padding: 0;
=======
{
	float: right;
	width: 25%;
	position: relative;
	padding: 0;
}
.specials
{
	float: right;
	width: 30%;
	position: relative;
	padding: 0 0 1% 2%;
>>>>>>> upstream/main
}
.about, .career
{
	padding-bottom: 3%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
}
.bg
{
	background: no-repeat center url(cover.png);
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	position: relative;
    height: 100%;
}

.about, .career, .com_links, .club_links
{
	background-color: #222222;
}
.club_links
{
	background-color: #222222;
	text-align: center;
}
.com_links, .videos, .com_links
{
	background-color: #d8362b;
}
.com_links, .club_links
{
	padding-bottom: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
}
.content{
	width:80%;
	margin: auto;

}
.heading
{
	color: white;
	padding: 10%;
	text-align: center;
}
.overlay
{
	background: rgba(0,0,0,0.2);
	height: 100%;
	left: 0;
	margin: 0;
	top: 0;
	width: 100%;
}

<<<<<<< HEAD
=======
.text{
	text-align: justify;
}
>>>>>>> upstream/main

}
a
{
	color: navajowhite;
}
a:hover
{
	color: peru;
}
body
{
	margin: 0;
	text-align: left;
}
h1
{
	font-size: 690.420%;
}
.heading h1{
    padding-bottom: 1%;
}
h1,h2,h3,h4
{
	font-family: 'Bitter', serif;
	text-align: center;
}
h1,h2,h3,p
{
	color: whitesmoke;
}
h2
{
	font-size: 420.69%;

}
.heading h2{
    padding-bottom: 3%;
}
h2
{
	margin: 0;
}
h3
{
	font-size: 362.436%;
}
h4{
    color: white;
    font-size: 269%;
}
hr
{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 10px dashed white;
	width: 10%;
}
p{
    font-family: 'Trispace', sans-serif;;
    font-size: 169.42%;
}
.vids
{
	width: 80%;
	margin: auto;
}
iframe{
	height: 320px;
	width: 32%;

}
